<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Apply">
    <!--
      WARNING - @mbg.generated
    -->

    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="accepter" jdbcType="VARCHAR" property="accepter" />
    <result column="id" jdbcType="NUMERIC" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />

  </resultMap>

  <select id="getMyList" resultType="com.company.project.model.Apply">
    SELECT * FROM
    (SELECT headshot as accepter_headshot,nickname as accepter_nickname,applicant,accepter,id,status FROM apply as a join guser as u on (u.username=a.accepter) WHERE applicant = #{username} ORDER BY id)
    UNION
    (SELECT headshot as applicant_headshot,nickname as applicant_nickname,applicant,accepter,id,status FROM apply as a join guser as u on (u.username=a.applicant) WHERE accepter = #{username} ORDER BY id)
  </select>


  <select id="check" resultType="com.company.project.model.Apply">
  SELECT * FROM apply  WHERE accepter in
  <foreach item="username" collection="usernames" open="(" separator="," close=")">
    #{username}
  </foreach>
  AND applicant in
  <foreach item="username" collection="usernames" open="(" separator="," close=")">
    #{username}
  </foreach>
  </select>


</mapper>