<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.ReplyMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Reply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="REPLY_ID" jdbcType="NUMERIC" property="replyid" />
    <result column="POST_ID" jdbcType="NUMERIC" property="postid" />
    <result column="POSTER_ID" jdbcType="VARCHAR" property="posterid" />
    <result column="POSTING_TIME" jdbcType="TIMESTAMP" property="postingtime" />
    <result column="REPLY_BODY" jdbcType="CLOB" property="replybody" />
    <result column="quote" jdbcType="NUMERIC" property="quote" />
  </resultMap>

  <select id="getReplys" parameterType="Integer" resultType="com.company.project.service.model.ReplyResult">
    select reply_id,post_id,poster_id,posting_time,reply_body,nickname,headshot,quote from  reply  as r join  guser as u on (r.posterid=u.username) where postID=#{postid};
  </select>
  <select id="getReply" parameterType="Integer" resultType="com.company.project.service.model.ReplyResult">
    select reply_id,post_id,poster_id,posting_time,reply_body,nickname,headshot,quote from  reply  as r join  guser as u on (r.posterid=u.username) where replyID=#{replyid};
  </select>
</mapper>