<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TeamMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Team">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="teamID" jdbcType="NUMERIC" property="teamid" />
    <result column="team_name" jdbcType="VARCHAR" property="team_name" />
    <result column="captainID" jdbcType="VARCHAR" property="captainid" />
    <result column="member_num" jdbcType="INTEGER" property="member_num" />
    <result column="create_date" jdbcType="DATE" property="create_date" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />

    <result column="label" jdbcType="VARCHAR" property="label" />
  </resultMap>

  <insert id="add" parameterType="com.company.project.model.Team">
    insert into team (team_name,captainID,member_num,create_date,avatar,introduction,label)
    values (#{team_name},#{captainid},#{member_num},#{create_date},#{avatar},#{introduction},#{label})
    <selectKey resultType="BigDecimal" order="AFTER" keyProperty="teamid">
      SELECT LAST_INSERT_ID() AS teamid
    </selectKey>
  </insert>

  <select id="getMyList" parameterType="String" resultType="com.company.project.model.Team">
    select * from team as t join user_team as u on t.teamid=u.teamid where u.username=#{username}
  </select>

</mapper>