<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UserTagsMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.UserTags">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="username" jdbcType="VARCHAR" property="username" />
    <id column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>

  <select id="findAllTags" parameterType="String" resultType="com.company.project.model.UserTags">
       select * from user_tags where username=#{username}
  </select>
  <select id="findUsersByTags"  resultType="com.company.project.service.model.CountTag">

    select count(username)
    from user_tags
    where tag in
    <foreach collection="list" item="t" index="index"
             open="(" close=")" separator=",">
      #{t}
    </foreach>
    group by username
  </select>
</mapper>