<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UserTeamMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.UserTeam">
    <!--
      WARNING - @mbg.generated
    -->

    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="teamID" jdbcType="INTEGER" property="teamid" />

  </resultMap>



  <delete id="deleteUserTeam">
    delete from user_team where username=#{username} and teamID=#{teamid}
  </delete>
  <select id="getMembers" parameterType="BigDecimal" resultType="com.company.project.model.User">
    select u.username,u.nickname,u.headshot from  user_team  as t join  guser as u on (t.username=u.username) where t.teamID=#{teamid};
  </select>

  <select id="check" parameterType="com.company.project.model.UserTeam" resultType="com.company.project.model.UserTeam">
    select * from  user_team   where teamID=#{teamid} and username=#{username};
  </select>

</mapper>